@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
@keyframes animateVisible {
    from{
        transform: scalex(0);
    }
    to{
        transform: scalex(1);
    }
}